$white: #fff;
$primaryColor: #202324;
$primaryFont: 'HK Grotesk';
$mainColor: #03062F;
$colorBlue: #2783F3;
// variables end

body{
    background: $white;
    font-family: $primaryFont;
    font-size: 15px;
    color: $primaryColor;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2{
    font-weight: 800;
}
h1{
    font-size: 40px;
    @media (max-width: 767px){
        font-size: 32px;
    }
}
::selection {
    background: #666;
    color: #fff;
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f3f1ec;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}
* {
    scrollbar-width: thin;
}
:root{
    scroll-behavior: inherit;
}

.preloader {
    position: fixed;
    background: $white;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 4px solid #eee;
        border-radius: 50%;
        border-top-color: $mainColor;
        animation: spin 1s ease-in-out infinite;
    }
}
.mainBtn{
    background: $colorBlue;
    padding: 12px 20px;
    color: $white;
    font-size: 15px;
    border-radius: 2px;
    font-weight: 600;
    white-space: nowrap;
    transition: opacity .3s ease;
    border: solid 1px transparent;
    &:focus{
        box-shadow: none;
        outline: none;
    }
    &:hover{
        color: $white;
        opacity: .8;
    }
    &.outline{
        border-color: $colorBlue;
        background: #030F3F;
    }
    &.white{
        background: $white;
        color: $colorBlue;
    }
    &.green{
        background: #00BA74;
    }
    &.large{
        width: 100%;
        font-size: 18px;
        padding: 24px 30px;
        border-radius: 4px;
        @media (max-width: 991px){
            padding: 15px 25px;
        }
    }
}

header{
    background: $mainColor;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &.fixed-top{
        background: $mainColor;
        @media (min-width: 992px){
            animation-name: slowdown;
            animation-duration: 0.5s;
        }
    }
    .navbar{
        padding: 0;
        .navbar-brand{
            padding-top: 0;
        }
    }
    .navbar-nav{
        margin-left: 81px;
        @media (max-width: 991px){
            margin-left: 0px;
            margin-top: 5px;
        }
        .nav-item{
            .nav-link{
                color: $white;
                margin-right: 34px;
                transition: color .3s ease;
                &:hover, &:focus{
                    color: $colorBlue;
                }
            }
            &:last-child{
                .nav-link{
                    margin-right: 0;
                }
            }
        }
    }
    .navRight{
        list-style: none;
        margin: 0;
        li{
            margin-left: 16px;
            &.langBtn{
                margin-right: 15px;
            }
        }
    }
    .mainBtn{
        padding: 9px 20px;
        transition: all .3s ease;
        &:hover{
            opacity: 1;
            background: $colorBlue;
            color: $white;
            svg path{
                fill: $white;
                transition: all .3s ease;
            }
        }
    }
    .navbar-toggler{
        padding: 0;
        border: none;
        &:focus{
            box-shadow: none;
            outline: none;
        }
        .navbar-toggler-icon{
            width: 35px;
        }
    }
}

.heroSection{
    position: relative;
    background: url(../images/bg.svg) no-repeat right bottom;
    background-size: cover;
    padding: 0 0 195px;
    @media (max-width: 767px){
        padding: 0 0 130px;
    }
    .banner{
        padding-top: 135px;
        @media (max-width: 991px){
            text-align: center;
            padding-top: 90px;
        }
        .content{
            padding-top: 20px;
            h1{
                margin-bottom: 32px;
                letter-spacing: 1px;
                &::after{
                    content: "";
                    width: 24px;
                    height: 4px;
                    display: flex;
                    background: #58C19C;
                    margin-top: 32px;
                    @media (max-width: 991px){
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
            p{
                color: rgba(255, 255, 255, 0.7);
                font-size: 18px;
                max-width: 80%;
                margin-bottom: 32px;
                @media (max-width: 1199px){
                    max-width: 100%;
                }
            }
        }
        .dotsBg{
            position: absolute;
            bottom: -28px;
            z-index: -1;
        }
        @media (max-width: 480px){
            svg{
                width: 100% !important;
            }
        }
    }
}

.owl-thumbs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px -3px 0;
    .owl-thumb-item{
        height: auto;
        width: 100%;
        max-width:150px;
        background: transparent;
        border: none;
        overflow: hidden;
        border-radius: 4px;
        overflow: hidden;
        padding: 0;
        padding: 0 3px;
        img{
            border: solid 1px transparent;
            max-width:100%;
            height:auto;
        }
        &.active{
            img{
                border-color: rgba(0, 0, 0, 0.24);
            }
        }
    }
}
.owl-nav{
    button{
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 48px;
        height: 48px;
        background: #F4F6F6 no-repeat center !important;
        border-radius: 50% !important;
        opacity: 1 !important;
        margin: 0 !important;
        @media (max-width: 580px){
            width: 40px;
            height: 40px;
            background-size: 10px !important;
        }
        span{
            display: none;
        }
    }
    .owl-prev{
        left: -24px;
        background-image: url(../images/arrow-left.svg) !important;
    }
    .owl-next{
        right: -24px;
        background-image: url(../images/arrow-right.svg) !important;
    }
    @media (max-width: 580px){
        .owl-prev{
            left: 0px;
        }
        .owl-next{
            right: 0px;
        }
    }
}

.contentArea{
    padding: 120px 0;
    .sliderWrap{
        max-width: 95%;
    }
    @media (max-width: 991px){
        padding: 70px 0 20px;
        .sliderWrap{
            max-width: 100%;
        }
    }
    .content{
        h2{
            font-size: 40px;
            font-weight: bold;
            color: #222323;
        }
        p{
            color: #4F5659;
            font-size: 20px;
        }
        @media (max-width: 991px){
            h2{
                font-size: 32px;
            }
            p{
                font-size: 17px;
            }
        }
    }
    .sectionTitle{
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #939C9F;
        margin-bottom: 10px;
    }
}
.ratingSec{
    gap: 10px;
    font-size: 16px;
}
.colorSec{
    .item{
        border: 1px solid #D8E0E2;
        border-radius: 6px;
        text-align: center;
        height: 60px;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        &.selected{
            border: 2px solid #202324;
            font-weight: 600;
            color: #202324;
        }
        .label{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            font-size: 10px;
            text-transform: uppercase;
            padding: 1px 5px;
            text-align: center;
            color: $white;
            font-weight: normal;
            width: 100%;
            height: 16px;
            &.new{
                background: #DE742D;
            }
            &.limited{
                background: #A07EDC;
            }
        }
        span{
            padding: 5px 25px 0;
            line-height: 15px;
        }
    }
}
.countSec{
    .value-button, .value-box{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 48px;
        border: none;
        padding: 5px;
        text-align: center;
    }
    .value-button{
        background: #EDF1F2;
        border-radius: 4px;
        color: #8CA4AB;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .value-box{
        background: $white;
        font-weight: 600;
        font-size: 16px;
        border-radius: 0px;
    }
}

.customRadio{
    padding: 5px 0;
    .item{
        margin-bottom: 22px;
        &:last-child{
            margin-bottom: 0;
        }
        .title{
            font-weight: 600;
            font-size: 16px;
            span{
                color: #00BA74;
            }
        }
        .desc{
            font-size: 13px;
            strong{
                font-weight: bold;
            }
            span{
                font-style: italic;
                font-weight: bold;
                background: #B1FBE3;
                border-radius: 15px;
                padding: 2px 10px;
            }
            i{
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        line-height: 22px;
        display: inline-block;
        color: $primaryColor;
        font-weight: 400;
        font-size: 15px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 22px;
        height: 22px;
        border: 2px solid #D6DFE1;
        border-radius: 100%;
        background: $white;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #00BA74;
        position: absolute;
        top: 7px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:checked + label:before{
        border-color: #00BA74 !important;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.dottedList{
    li{
        background: url(../images/list.svg) no-repeat left top 9px;
        color:  #34393A;
        font-size: 16px;
        padding: 5px 0 5px 28px;
    }
}
.infoDetails{
    gap: 7px;
    a{
        text-decoration: underline;
        font-weight: 600;
        color: #545C5F;
    }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
} 

@keyframes slowdown {
    0% {
        opacity: 0.7;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/***************************************************
    Hero image animation
 **************************************************/
 @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 0.7s ease-in 0.8s both;
            animation: animate-svg-fill-1 0.7s ease-in 0.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  .svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 0.7s ease-in 0.9s both;
            animation: animate-svg-fill-2 0.7s ease-in 0.9s both;
  }
  
  @-webkit-keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-3 {
    -webkit-animation: animate-svg-fill-3 0.7s ease-in 1s both;
            animation: animate-svg-fill-3 0.7s ease-in 1s both;
  }
  
  @-webkit-keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  .svg-elem-4 {
    -webkit-animation: animate-svg-fill-4 0.7s ease-in 1.1s both;
            animation: animate-svg-fill-4 0.7s ease-in 1.1s both;
  }
  
  @-webkit-keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-5 {
    -webkit-animation: animate-svg-fill-5 0.7s ease-in 1.2000000000000002s both;
            animation: animate-svg-fill-5 0.7s ease-in 1.2000000000000002s both;
  }
  
  @-webkit-keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  @keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  .svg-elem-6 {
    -webkit-animation: animate-svg-fill-6 0.7s ease-in 1.3s both;
            animation: animate-svg-fill-6 0.7s ease-in 1.3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  @keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  .svg-elem-7 {
    -webkit-animation: animate-svg-fill-7 0.7s ease-in 1.4000000000000001s both;
            animation: animate-svg-fill-7 0.7s ease-in 1.4000000000000001s both;
  }
  
  @-webkit-keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-8 {
    -webkit-animation: animate-svg-fill-8 0.7s ease-in 1.5s both;
            animation: animate-svg-fill-8 0.7s ease-in 1.5s both;
  }
  
  @-webkit-keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  @keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  .svg-elem-9 {
    -webkit-animation: animate-svg-fill-9 0.7s ease-in 1.6s both;
            animation: animate-svg-fill-9 0.7s ease-in 1.6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-10 {
    -webkit-animation: animate-svg-fill-10 0.7s ease-in 1.7000000000000002s both;
            animation: animate-svg-fill-10 0.7s ease-in 1.7000000000000002s both;
  }
  
  @-webkit-keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  @keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  .svg-elem-11 {
    -webkit-animation: animate-svg-fill-11 0.7s ease-in 1.8s both;
            animation: animate-svg-fill-11 0.7s ease-in 1.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-12 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-12 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-12 {
    -webkit-animation: animate-svg-fill-12 0.7s ease-in 1.9000000000000001s both;
            animation: animate-svg-fill-12 0.7s ease-in 1.9000000000000001s both;
  }
  
  @-webkit-keyframes animate-svg-fill-13 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  @keyframes animate-svg-fill-13 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  .svg-elem-13 {
    -webkit-animation: animate-svg-fill-13 0.7s ease-in 2s both;
            animation: animate-svg-fill-13 0.7s ease-in 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-14 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-14 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-14 {
    -webkit-animation: animate-svg-fill-14 0.7s ease-in 2.1s both;
            animation: animate-svg-fill-14 0.7s ease-in 2.1s both;
  }
  
  @-webkit-keyframes animate-svg-fill-15 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  @keyframes animate-svg-fill-15 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  .svg-elem-15 {
    -webkit-animation: animate-svg-fill-15 0.7s ease-in 2.2s both;
            animation: animate-svg-fill-15 0.7s ease-in 2.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-16 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-16 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-16 {
    -webkit-animation: animate-svg-fill-16 0.7s ease-in 2.3s both;
            animation: animate-svg-fill-16 0.7s ease-in 2.3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-17 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-17 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-17 {
    -webkit-animation: animate-svg-fill-17 0.7s ease-in 2.4000000000000004s both;
            animation: animate-svg-fill-17 0.7s ease-in 2.4000000000000004s both;
  }
  
  @-webkit-keyframes animate-svg-fill-18 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-18 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-18 {
    -webkit-animation: animate-svg-fill-18 0.7s ease-in 2.5s both;
            animation: animate-svg-fill-18 0.7s ease-in 2.5s both;
  }
  
  @-webkit-keyframes animate-svg-fill-19 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  @keyframes animate-svg-fill-19 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  .svg-elem-19 {
    -webkit-animation: animate-svg-fill-19 0.7s ease-in 2.6s both;
            animation: animate-svg-fill-19 0.7s ease-in 2.6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-20 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  @keyframes animate-svg-fill-20 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  .svg-elem-20 {
    -webkit-animation: animate-svg-fill-20 0.7s ease-in 2.7s both;
            animation: animate-svg-fill-20 0.7s ease-in 2.7s both;
  }
  
  @-webkit-keyframes animate-svg-fill-21 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  @keyframes animate-svg-fill-21 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(11, 218, 143);
    }
  }
  
  .svg-elem-21 {
    -webkit-animation: animate-svg-fill-21 0.7s ease-in 2.8s both;
            animation: animate-svg-fill-21 0.7s ease-in 2.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-22 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  @keyframes animate-svg-fill-22 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(21, 24, 26);
    }
  }
  
  .svg-elem-22 {
    -webkit-animation: animate-svg-fill-22 0.7s ease-in 2.9000000000000004s both;
            animation: animate-svg-fill-22 0.7s ease-in 2.9000000000000004s both;
  }
  
  @-webkit-keyframes animate-svg-fill-23 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-23 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-23 {
    -webkit-animation: animate-svg-fill-23 0.7s ease-in 3s both;
            animation: animate-svg-fill-23 0.7s ease-in 3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-24 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-24 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-24 {
    -webkit-animation: animate-svg-fill-24 0.7s ease-in 3.1000000000000005s both;
            animation: animate-svg-fill-24 0.7s ease-in 3.1000000000000005s both;
  }
  
  @-webkit-keyframes animate-svg-fill-25 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-25 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-25 {
    -webkit-animation: animate-svg-fill-25 0.7s ease-in 3.2s both;
            animation: animate-svg-fill-25 0.7s ease-in 3.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-26 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  @keyframes animate-svg-fill-26 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  .svg-elem-26 {
    -webkit-animation: animate-svg-fill-26 0.7s ease-in 3.3s both;
            animation: animate-svg-fill-26 0.7s ease-in 3.3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-27 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-27 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-27 {
    -webkit-animation: animate-svg-fill-27 0.7s ease-in 3.4000000000000004s both;
            animation: animate-svg-fill-27 0.7s ease-in 3.4000000000000004s both;
  }
  
  @-webkit-keyframes animate-svg-fill-28 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  @keyframes animate-svg-fill-28 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(70, 48, 235);
    }
  }
  
  .svg-elem-28 {
    -webkit-animation: animate-svg-fill-28 0.7s ease-in 3.5s both;
            animation: animate-svg-fill-28 0.7s ease-in 3.5s both;
  }
  
  @-webkit-keyframes animate-svg-fill-29 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-29 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-29 {
    -webkit-animation: animate-svg-fill-29 0.7s ease-in 3.6000000000000005s both;
            animation: animate-svg-fill-29 0.7s ease-in 3.6000000000000005s both;
  }
  
  @-webkit-keyframes animate-svg-fill-30 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-30 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-30 {
    -webkit-animation: animate-svg-fill-30 0.7s ease-in 3.7s both;
            animation: animate-svg-fill-30 0.7s ease-in 3.7s both;
  }
  











  